obj/Debug/netcoreapp2.2/proj.csprojAssemblyReference.cache
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.2/proj.dll
bin/Debug/netcoreapp2.2/proj.pdb
bin/Debug/netcoreapp2.2/proj.deps.json
bin/Debug/netcoreapp2.2/proj.runtimeconfig.json
bin/Debug/netcoreapp2.2/proj.runtimeconfig.dev.json
obj/proj.csproj.nuget.cache
obj/proj.csproj.nuget.g.props
obj/proj.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/proj.dll
obj/Debug/netcoreapp2.2/proj.pdb
obj/Debug/netcoreapp2.2/proj.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/proj.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/proj.assets.cache
obj/Debug/netcoreapp2.2/proj.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/proj.csproj.FileListAbsolute.txt
